/*.dot {*/
	/*cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: white;
	display: inline-block;
	border-radius: 10px;
	transition: background-color 0.6s ease;
	clear: both;	
	text-align: center;
}*/
/*.dot:hover {
	background-color: #f4d91d;
}*/


/*.diseasename {
	float: left;
	line-height: 38px;
	padding: 0;
	overflow: hidden;
	position: relative;
}

.disease-tabs {
	max-width: 1100px;
	position: relative;
	margin: auto;
	float: left;
}
*/
/*.prev {
	cursor: pointer;
	position: absolute;
	top: 50%;
	margin-top: -40px;
	color: white;
	float: left;
	font-size: 40px;

}

.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	margin-top: -40px;
	color: white;
	float: left;	
	border-radius: 5px;
	font-size: 40px
}*/

/*
.tabs {

}*/
/*
.disease-panel  {
	display: none;
	height: 430px;
	width: 80%;
	min-width: 780px;
	max-width: 1980px;
	background: #cce5a5;
	padding: 20px 20px;
	margin: 20px 30px 20px 50px;
	list-style: none;
	font-size: 18px;
	float: left;

 }
*//*
 .disease-panel:first-child {
 	display: block;
 }
*/

/*.dots {
	float: right;
	position: relative;
	width: 100%;
	min-width: 780px;
	max-width: 1980px;
	background: orange;
 }

.dot {
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: white;
	display: inline-block;
	border-radius: 10px;
	transition: background-color 0.6s ease;
	clear: both;	
	text-align: center;
}
*/
/*.dot:hover {
	background-color: #f4d91d;
}

.next:hover, .prev:hover {
	color: #f4d91d;
}*/
